<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322825271978-tmv5p5n6hbdvv9sreokj5o5jjunvug66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322825271978-tmv5p5n6hbdvv9sreokj5o5jjunvug66</string>
	<key>API_KEY</key>
	<string>AIzaSyCEyMGyU2L9uKCESJkLFZA1vJttlWA4K2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>322825271978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recordscreen1</string>
	<key>PROJECT_ID</key>
	<string>live-stream-201c4</string>
	<key>STORAGE_BUCKET</key>
	<string>live-stream-201c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322825271978:ios:c3a25b7a723d4077e9eed3</string>
</dict>
</plist>